html {
  background: url("../../images/bg-game.jpg") no-repeat center top;
  background-size: cover;
  font-family: @font-family-global;
  font-weight: @font-weight-global;
  font-size: @font-size-global;
  color: @font-color-global;
  min-width: 320px;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6,
h1, h2, h3, h4, h5, h6,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: @font-family-global;
}

h2 {
  font-weight: @font-weight-thick;
  font-size: @font-size-header-small;
  color: @font-color-default;
}

h3 {
  font-weight: @font-weight-global;
  font-size: @font-size-small;
  color: @font-color-global;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}


//
//UK-Reset
//

.uk-container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 960px) {

  .uk-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.uk-grid {
  margin-left: -30px;

  > * {
    padding-left: 30px;
  }

  &-small {
    margin-left: -10px;

    > * {
      padding-left: 10px;
    }
  }
}

* + .uk-grid-margin,
.uk-grid +.uk-grid,
.uk-grid > .uk-grid-margin {
  margin-top: 30px;
}

* + .uk-grid-margin-small,
.uk-grid + .uk-grid-small,
.uk-grid-small > .uk-grid-margin {
  margin-top: 10px;
}

.uk-grid-divider {
  margin-left: -60px;

  > * {
    padding-left: 60px;
  }

  > :not(.uk-first-column)::before {
    left: 30px;
  }
}

.uk-container {
  max-width: 982px;
}

.uk-logo {
  font-family: @font-family-global;
  font-weight: @font-weight-fat;
  font-size: @font-size-header-large;
  color: @font-color-default;

  span {
    color: #c08cff;
  }

  &:focus, &:hover {
    color: @font-color-default;
  }
}

.uk-navbar-nav > li > a {
  font-family: @font-family-global;
  font-size: @font-size-big;
  color: @font-color-default;
  text-transform: none;

  &:hover, &:focus {
    color: @font-color-global;
  }
}

.uk-input, .uk-select, .uk-textarea {
  color: @font-color-default;
  border: none;
  border-radius: 3px;
}

.uk-form-icon {
  font-weight: @font-weight-thin;
  color: @font-color-default;
  font-size: @font-size-big;
  text-transform: uppercase;
}

.uk-button {
  border-radius: 3px;
  line-height: 30px;
  font-size: @font-size-global;
  border: none;
}

.uk-button-large {
  height: 60px;
  text-transform: none;
  font-size: 20px;
  font-weight: @font-weight-thick;
}

.uk-button-primary {
  background-color: @bg-button-primary;
  color: @font-color-default;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.27);

  &:focus, &:hover, &.uk-active, &:active {
    background-color: @bg-button-secondary;
    color: @font-color-default;
  }
}

.uk-button-secondary {
  background-color: @bg-button-secondary;
  color: @font-color-default;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.27);

  &:focus, &:hover, &.uk-active, &:active {
    background-color: darken(@bg-button-secondary,15%);
    color: @font-color-default;
  }
}

.uk-button-default {
  background-color: transparent;
  color: @font-color-default;
  border: 1px solid #fff;
  text-transform: none;
  padding: 0 75px;

  &:focus, &:hover, &.uk-active, &:active {
    background-color: transparent;
    color: @font-color-default;
    border-color: #999;
  }
}

.uk-background-primary {
  background-color: @bg-global-primary;
}

.uk-background-secondary {
  background-color: @bg-global-secondary;
}

.uk-card {
  background-color: @bg-global-tertiary;
  color: @font-color-default;
  border-radius: 3px;
  padding: 10px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);

  h3 {
    margin: 0;
  }

  h3.tm-title-marked {
    position: relative;
    padding: 5px 15px 10px 0;
  }

  h3.tm-title-marked:before {
    position: absolute;
    top: 4px;
    right: 2px;
    font-family: FontAwesome;
    color: @font-color-default;
  }

  .uk-button {
    font-size: @font-size-small;
  }
}

.uk-card-header {
  padding: 5px 0;
}

.uk-card-body {
  padding: 15px 0;
  color: @font-color-default;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.uk-card-footer {
  padding: 5px 0;
}

.uk-card-small {
  padding: 15px;

  .bet {
    font-size: @font-size-big;
  }
  .uk-card-header, .uk-card-body, .uk-card-footer {
    padding: 0;
  }

  .uk-card-body {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 5px;
  }

 .tm-game-type-marker {
    position: relative;
    padding: 0 20px;
  }

  .tm-game-type-marker:before {
    position: absolute;
    top: 2px;
    left: 2px;
    font-family: FontAwesome;
    color: @font-color-default;
  }
}

.uk-border-rounded {

  .tm-background-primary {
    border-radius: 0 0 5px 5px;
  }
}

//
//Select2 classes
//

.select2-container .select2-selection--single {
  height: 32px;
  outline: none;

  .select2-selection__rendered {
    padding-left: 10px;
    padding-right: 40px;
  }
}

.select2-dropdown {
  background-color: @bg-input-primary;
  border: none;
  border-radius: 3px;
  color: @font-color-default;
}

.select2-container--default {

  .select2-selection--single {
    background-color: @bg-input-primary;
    border: none;
    border-radius: 3px;

    .select2-selection__rendered {
      color: @font-color-default;
      line-height: 32px;
    }

    .select2-selection__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;

      &::before {
        content: "\f110";
        font-family: FontAwesome;
        color: @font-color-default;
      }

      b {
        display: none;
      }
    }
  }

  .select2-results__option[aria-selected=true] {
    background-color: @bg-global-secondary;
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: @bg-button-secondary;
  }

  &.select2-container--open .select2-selection--single .select2-selection__arrow::before {
    content: "\f113";
  }
}



//
//Theme
//Global
//

.tm-button-default {
  height: 30px;
  line-height: 28px;
  max-width: 120px;
  border: 1px solid #773dbe;
  padding: 0 15px;
  font-size: @font-size-small;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    border: 1px solid @font-color-global;
  }
}

.tm-button-tertiary {
  line-height: 40px;
  background-color: @bg-button-tertiary;
  color: @font-color-primary;
  font-size: @font-size-big;
  font-weight: @font-weight-thick;
  text-transform: none;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.27);

  &:hover, &:focus, &:active {
    background-color: @bg-button-secondary;
    color: @font-color-default;
  }
}

.tm-background-tertiary {
  background-color: @bg-global-tertiary;
}

.tm-top {
  background-color: @bg-top;

  .uk-input {
    font-size: @font-size-big;
    font-weight: @font-weight-thick;
    max-width: 130px;
    padding: 0 15px;
  }

  .uk-form-icon {
    padding: 0 5px;
  }

  .uk-form-icon-flip~.uk-input {
    padding-right: 50px!important;
  }

  .select2-container .select2-selection--single {
    height: 40px;
  }

  .select2-container--default {

    .select2-selection--single {
      font-size: 16px;
      background-color: @bg-global-secondary;

      .select2-selection__rendered {
        line-height: 40px;
      }

      .select2-selection__arrow {
        height: 40px;
      }
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: @bg-global-secondary;
  }
}

.tm-games {

  .tm-box-small {
    border-radius: 5px 5px 0 0;
  }

  .tm-game-cards {
    padding: 25px 0 0;
  }

  h2 {
    font-weight: @font-weight-global;
  }
}

.tm-text-secondary {
  color: @font-color-secondary;
}

//
//Theme
//Local
//
.tm-button-new {
  padding: 0 20px;
  line-height: 36px;
  text-transform: none;
  font-weight: @font-weight-thick;
}

.tm-button-whitelist {
  width: 120px;
  height: 40px;
  font-size: @font-size-big;
  font-weight: @font-weight-thick;
  padding: 0 10px;
  white-space: nowrap;

  i {
    border: 2px solid @font-color-default;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.tm-button-filter {
  background-color: @bg-global-tertiary;
  color: @font-color-global;
  font-size: @font-size-small;
  width: 120px;
  transition: none;

  &.tm-toggle-active {
    position: relative;
    background-color: @bg-global-primary;
    line-height: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: -28px;
    border-radius: 3px 3px 0 0;
  }
}

.tm-button-role {
  height: 30px;
  line-height: 28px;
  background-color: @bg-input-primary;
  text-transform: none;

  &:active, &.uk-active, &:hover {
    background-color: @bg-button-primary;
  }

  &.tm-role-user {
    border-radius: 3px 0 0 3px;
  }

  &.tm-role-creator {
    border-radius: 0 3px 3px 0;
  }

}

.tm-box {
  padding: 20px 30px;
}

.tm-box-small {
  padding: 15px 30px;
}

.tm-box-large {
  padding: 30px;
}

@media (max-width: 959px) {

  .tm-box {
    padding: 20px;
  }

  .tm-box-small {
    padding: 15px 20px;
  }

  .tm-box-large {
    padding: 30px 20px;
  }
}

.tm-card-private {
  h3.tm-title-marked:before, .tm-game-type-marker:before {
    content: "\f255";
  }
}

.tm-card-open {
  h3.tm-title-marked:before, .tm-game-type-marker:before {
    content: "\f369";
  }
}

.tm-filter {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  .uk-input {
    background-color: @bg-input-primary;
    color: @font-color-default;
    font-size: @font-size-small;
    font-weight: @font-weight-global;
    padding: 0 10px;
    max-width: 70px;
    height: 30px;
  }

  .uk-button {
    padding: 0 20px;
  }

  .uk-button-secondary {
    font-size: @font-size-small;
  }
}

@media (max-width: 639px) {

  .tm-top {

    .uk-input {
      max-width: 100%;
      width: 100%;
    }
  }

  .select2-container {
    display: block;
  }
}

.tm-select-top {
  min-width: 140px;
}

//not tm

.bet {
  font-size: @font-size-header-normal;
}


//Header
.tm-header {
  padding: 40px 0;
}

@media (max-width: 559px) {

  .tm-header {

    > .uk-container {

      .uk-navbar-left, .uk-navbar-right {
        width: 100%;
        margin: 0;
      }
    }

    .uk-logo {
      font-size: 36px;
    }
  }

  .tm-header-navbar {
    flex-wrap: wrap;
  }
}

@media (max-width: 639px) {
  .uk-card-small {

    .uk-card-body {
      padding: 0;
      border: 1px solid transparent;
    }
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .uk-card-small {

    .uk-card-body {
      padding: 0 10%;
    }
  }
}

@media (min-width: 960px) and (max-width: 970px) {
  .uk-card-small {

    .uk-card-body {
      padding: 0 1%;
    }
  }
}

//Raffle

.tm-raffle-wrap {
  padding: 30px 30px 40px;
}

.tm-canvas-wrapper {
  min-height: 200px;
}

.tm-members-list {

  li {
    position: relative;
    padding: 0 20px 0 40px;
    line-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #654d88;
    background-color: @bg-global-primary;
    border-left: 3px solid #4a2f73;

    &::before, &::after {
      display: block;
      position: absolute;
      top: 0;
      line-height: inherit;
      font-family: FontAwesome;
      font-size: 22px;
      color: #4a2f73;
    }

    &::before {
      content: "\f27b";
      left: 10px;
    }

    &::after {
      content: "\f23b";
      right: 16px;
    }

    &.tm-connected {
      color: #ac6aff;
      border-left-color: #9a57ff;

      &::before {
        color: #fff;
      }

      &::after {
        display: none;
      }
    }

  }

}

.tm-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  font-size: 36px;
  color: @font-color-default;
  border-radius: 50%;
  border: 3px solid @font-color-global;
  //text-align: center;
}

.tm-user-icon {
  background-image: url("../../images/layer-891.png");
  background-repeat: no-repeat;
  background-position: -1px 100%;
  background-size: contain;
  padding-left: 4px;
  background-color: #39156d;
}

.tm-fonts-top {
  color: @font-color-default;
  font-size: 18px;
  font-weight: @font-weight-thick;
  text-transform: uppercase;

  h3 {
    font-size: @font-size-global;
  }
}

.tm-background-top {
  background-color: @bg-top;
  border-radius: 5px 5px 0 0;
}

.tm-background-primary {
  background-color: @bg-global-primary;
}

.tm-background-secondary {
  background-color: @bg-global-secondary;
}

.tm-fonts-alt {
  h2 {
    font-size: 18px;
    color: #c08cff;
    margin: 0 0 15px 0;
  }

  .uk-input {
    background-color: @bg-input-primary;
    color: @font-color-global;
    font-size: @font-size-small;
    font-weight: @font-weight-global;
    padding: 0 20px;
    text-transform: uppercase;
    height: 30px;
  }
}

.tm-text-bets {
  color: @font-color-default;
  font-weight: @font-weight-thick;
}

.tm-top-alt {
  h2 {
    color: #c08cff;
    margin: 0 0 10px 0;
  }

  .bet {
    font-weight: @font-weight-thick;
    color: @font-color-default;
    font-size: 60px;
    white-space: nowrap;

    sup {
      top: -0.3em;
    }
  }

  .uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
}

.tm-leader-list {
  li {
    position: relative;
    padding: 0 0 0 25px;

    &::before {
      display: block;
      position: absolute;
      top: -5px;
      line-height: inherit;
      font-family: FontAwesome;
      font-size: 22px;
      color: #fff;
    }

    &::before {
      content: "\f27b";
      left: 0;
    }
  }
}

.tm-social {

  div {
    display: flex;
    justify-content: center;
    max-width: 80px;
    height: 30px;
    background-color: @font-color-primary;
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.27);
    border-radius: 3px;

    svg {
      fill: #fff;
    }
  }
}

.tm-game-cards {
  .bet sup {
    top: -0.3em;
  }
}

.tm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: @font-weight-global;
  color: @font-color-default;
  font-size: @font-size-big;

  h3{
    font-weight: @font-weight-thick;
    color: @font-color-default;
    font-size: 32px;
    text-transform: none;
  }
}

@media (min-width: 959px) and (max-width: 979px) {
  .uk-card h3 {
    font-size: 10px;
  }
}

@media (max-width: 1199px) {

  .tm-top-alt .bet {
    font-size: 52px;
  }

  .bet {
    font-size: @font-size-header-small;
  }

  .tm-header {
    padding: 5px 0;
  }
}

@media (max-width: 639px) {

  .tm-social div {
    max-width: 40px;
  }
}