html {
  font-family: @font-family-global;
  font-weight: @font-weight-global;
  font-size: @font-size-global;
  color: @font-color-global;
}

//
//UK-Reset
//

.uk-button-primary {
  background-color: @bg-button-primary;
}

.uk-button-secondary {
  background-color: @bg-button-secondary;
}

.uk-button-default {
  background-color: transparent;
}

.uk-background-primary {
  background-color: @bg-global-primary;
}

.uk-background-secondary {
  background-color: @bg-global-secondary;
}


//
//Theme
//Global
//

.tm-button-tertiary {
  background-color: @bg-button-tertiary;
}

.tm-background-tertiary {
  background-color: @bg-global-tertiary;
}

.tm-background-top {
  background-color: @bg-top;
}
//
//Theme
//Local
//